.grid-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*
.navigation {
    grid-area: navigation;
}

.frase-welcome {
    grid-area: frase-welcome;
}

.frase-tel {
    grid-area: frase-tel;
}

.logo {
    grid-area: logo;
}

.head {
    grid-area: head;
}

.page-number {
    grid-area: page-number;
}

.social {
    grid-area: social;
}

.ways {
    grid-area: ways;
}
*/